.hide {
  display: none !important;
}

.w-container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.center {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.search-form {
  display: flex;
}

.search-btn {
  margin: 30px 0;
}

.menu {
  width: 100%;
  min-height: 20px;
}

.menu li {
  display: flex;
  color: #4caf50;
  padding: 5px 20px;
}

.overview {
  padding: 20px 10px;
}
